<h1>Privacy</h1>

<p>
    The Privacy Act covers organisations with an annual turnover more than $3 million and operating in Australia, and some other organisations. A number of factors go into deciding if an organisation operates in Australia, including if they have a presence in Australia or carry on a business in Australia. 
</p>
<p>
    A privacy policy may be printed on paper, available on a website or displayed on a mobile device’s screen. If you don’t have access to the internet, you can phone the organisation or agency and ask for a paper copy.
</p>